{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

{{ if eq .chezmoi.osRelease.id "fedora" -}}
# Install Fedora Packages
sudo dnf install -y https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
sudo dnf update -y
sudo dnf groupupdate core -y
sudo dnf install -y git wget curl lsd tmux
{{- else if eq .chezmoi.osRelease.id "arch" -}}
# Install Arch packages
pacman -Syu --noconfirm git curl wget curl wget tmux
{{- else if eq .chezmoi.osRelease.id "ubuntu" -}}
# Install Ubuntu packages
sudo apt update
sudo apt install -y zsh build-essential curl tmux curl git unzip
{{- end }}

{{- end }}
