[user]
	email = drae@users.noreply.github.com
	name = Drae
	signingkey = 3CA31FBA 

[commit]
	gpgsign = true

[core]
	editor = code --wait

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[pull]
	rebase = true
[rebase]
	autostash = true
