# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.
# the files are located in the bash-doc package.

# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
umask 022

# if running bash
if [ -n "$BASH_VERSION" ]; then
  # include .bashrc if it exists
  if [ -f "$HOME/.bashrc" ]; then
    . "$HOME/.bashrc"
  fi
fi

# Follow the XDG directory spec wherever possible
export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:=$HOME/.config}
export XDG_CACHE_HOME=${XDG_CACHE_HOME:=$HOME/.cache}
export XDG_DATA_HOME=${XDG_DATA_HOME:=$HOME/.local/share}
if [[ ! -w ${XDG_RUNTIME_DIR:=/run/user/$(id -u)} ]]; then
    XDG_RUNTIME_DIR=/tmp
fi
export XDG_RUNTIME_DIR

# XDG_CONFIG_HOME
export ZDOTDIR=$XDG_CONFIG_HOME/zsh
export DOCKER_CONFIG=$XDG_CONFIG_HOME/docker
export NPM_CONFIG_USERCONFIG=$XDG_CONFIG_HOME/npm/npmrc
export WGETRC=$XDG_CONFIG_HOME/wgetrc

# XDG_DATA_HOME
export ZSH_DATA_DIR=$XDG_DATA_HOME/zsh

# XDG_CACHE_HOME
export ZSH_CACHE_DIR=$XDG_CACHE_HOME/zsh

# Go
export GOPATH=$HOME/go
export GOROOT=$XDG_DATA_HOME/golang

# The paths
PATH="$HOME/.local/bin:$HOME/go/bin:$HOME/.krew/bin:$PATH:$HOME/.local/share/rtx/shims"

# Set umask to user and group rw(x)
umask 022

# LESS man page colors (makes Man pages more readable).
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[00;44;37m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'

# Set the editor
export EDITOR="nvim"
export VISUAL="
