{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu" "raspbian")) -}}

{{ $packages := list
    "build-essential"
    "ca-certificates"
    "curl"
    "fish"
    "git"
    "git-lfs"
    "protobuf-compiler"
    "software-properties-common"
    "tmux"
    "unzip"
    "wget"
 -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

# Add Fish shell ppa
{{ $sudo }}add-apt-repository ppa:fish-shell/release-4 -y
# Update package list
{{ $sudo }}apt-get update
# Do the install
{{ $sudo }}apt install -y {{ $packages | join " " }}

{{ end -}}