{{ if (eq .chezmoi.os "linux" "darwin") -}}

#!/usr/bin/env zsh

set -e

# .config/rtx/config.toml hash: {{ include "private_dot_config/rtx/config.toml" | sha256sum }}

if $(which -s rtx &>/dev/null); then
  eval "$($HOME/.local/bin/rtx activate zsh)"
  eval "$($HOME/.local/bin/rtx install -y)"
fi
{{ end -}}