{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu" "raspbian")) -}}

{{ $packages := list
    "ansible"
    "btop"
    "build-essential"
    "ca-certificates"
    "curl"
    "git"
    "git-lfs"
    "protobuf-compiler"
    "python3-pip"
    "python3-venv"
    "software-properties-common"
    "tmux"
    "unzip"
    "wget"
    "zsh" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update
# Add ansible ppa
{{ $sudo }}add-apt-repository ppa:ansible/ansible -y
{{ $sudo }}apt install -y {{ $packages | join " " }}

{{ end -}}