{{ if (eq .chezmoi.os "linux" "darwin") -}}

#!/usr/bin/env zsh

set -e

# .config/mise/config.toml hash: {{ include "private_dot_config/mise/config.toml" | sha256sum }}

if $(which -s mise &>/dev/null); then
  eval "$($HOME/.local/bin/mise activate zsh)"
  eval "$($HOME/.local/bin/mise install -y)"
fi
{{ end -}}