{{- if (eq .chezmoi.os "linux" "darwin") -}}
#!/bin/bash

set -eufo pipefail

if ! [ -f $HOME/.local/bin/mise ]; then
  # renovate
  curl -Ls https://github.com/jdx/mise/releases/download/v2024.3.2/mise-v2024.3.2-linux-x64 --create-dirs -o $HOME/.local/bin/mise
  chmod +x $HOME/.local/bin/mise
fi
{{ end -}}