{{- if (eq .chezmoi.os "linux" "darwin") -}}
#!/bin/bash

set -eufo pipefail

if ! [ -f $HOME/.local/bin/rtx ]; then
  curl -Ls https://github.com/jdx/rtx/releases/download/v2023.11.0/rtx-v2023.11.0-linux-x64 --create-dirs -o $HOME/.local/bin/rtx
  chmod +x $HOME/.local/bin/rtx
fi
{{ end -}}