{{ if (eq .chezmoi.os "linux" "darwin") -}}
#!/bin/bash

set -eufo pipefail

function is_fish_current_shell() {
  fish=$(command -v fish)
  if [[ ${SHELL} == "${fish}" ]]; then
    return 0
  fi
  return 1
}

if ! is_fish_current_shell; then
    fish=$(grep $(command -v fish) /etc/shells | head -1)
    echo "Changing shell to fish"
    sudo chsh -s ${fish} $(whoami)
fi
{{ end -}} 