[tools]
age = '1.2.1'
ansible-core = '2.18.7'
aws = '2.27.55'
bat = '0.25.0'
btop = '1.4.4'
cargo-binstall = '1.14.1'
chezmoi = '2.63.0'
cloudflared = '2025.7.0'
direnv = '2.37.1'
doggo = '1.0.5'
fastfetch = '2.50.2'
fd = '10.2.0'
fzf = '0.64.0'
github-cli = '2.83.2'
golang = '1.25.5'
jq = '1.8.1'
lazygit = '0.53.0'
"aqua:mitsuhiko/minijinja" = '2.16.0'
"asdf:neovim" = '0.11.3'
nodejs = '24.12.0'
pipx = '1.8.0'
python = '3.14.2'
ripgrep = '14.1.1'
rust = '1.92.0'
shellcheck = '0.11.0'
sops = '3.11.0'
starship = '1.23.0'
stylua = '2.1.0'
task = '3.44.0' 
yamllint = '1.38.0'
uv = '0.9.24'
vivid = '0.10.1'
yq = '4.50.1'

[settings]
always_keep_download = false # deleted after install by default
always_keep_install = false  # deleted on failure by default

verbose = false     # set to true to see full installation output, see `MISE_VERBOSE`
jobs = 4            # number of plugins or runtimes to install in parallel. The default is `4`.
raw = false         # set to true to directly pipe plugins to stdin/stdout/stderr

experimental = true # enable experimental features
log_level = 'info'  # log verbosity, see `MISE_LOG_LEVEL`

pipx_uvx = true # Use uvx for pipx installations
