---
# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
registries:
  - type: standard
ref: v3.18.0 # renovate: depName=aquaproj/aqua-registry

packages:
  - name: twpayne/chezmoi@v2.21.0  
  - name: starship/starship@v1.10.2
  - name: ajeetdsouza/zoxide@v0.8.3    
  - name: FiloSottile/age@v1.0.0
  - name: cue-lang/cue@v0.4.3
  - name: jesseduffield/lazygit@v0.34
  - name: koalaman/shellcheck@v0.8.0
  - name: mozilla/sops@v3.7.3
  - name: hashicorp/terraform@v1.2.8
  - name: sachaos/viddy@v0.3.6
  - name: helm/helm@v3.9.4
  - name: sbstp/kubie@v0.18.0
  - name: hidetatz/kubecolor@v0.0.20
  - name: kubernetes/kubectl@v1.25.0
  - name: kubernetes-sigs/kustomize@kustomize/v4.5.7
  - name: stern/stern@v1.21.0
  - name: budimanjojo/talhelper@v1.4.0
  - name: talos-systems/talos@v1.1.2
  - name: cloudflare/cloudflared@2022.8.4
  - name: ogham/dog@v0.1.0 # DNS lookups